<% layout('/layouts/boilerplate') %>
<h1>Log in</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id= "username" type="text" name="username" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id= "password" type="password" name="password" class="form-control" required>    
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Login</button>
</form>